 form{ 
    box-shadow: 0 30px 50px rgba(170, 94, 6, 0.608);
    display: flex;
    flex-direction:column;
gap: 2px;
margin: auto;
border: 7px;
background-color: rgb(165, 140, 93);
padding: 20px;
font-family: 'Times New Roman', Times, serif;
max-width: 50%;
}
#titluform {
    text-align: center;
}
#buton:hover{
    background-color: cornflowerblue;
    transform: scale(1.o5);
    transition: 0.2s;
    
}
.etich{
    font-size: 20px;
    font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
input{
    height: 35px;
    background-color:lightgoldenrodyellow;
}



 #titluform{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}